table {
    font-family: Arial, Helvetica, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
}

Link {
    color: inherit;
}

.profilePic {
    border-radius: 50%;
}

.profilePicUserDetails {
    border-radius: 50%;
    position: absolute;
    left: 25%;
    width: 7%
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr {
    text-align: center;
}

table tr:hover {
    background-color: #A13333;

}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #A13333;
    color: white;
}

.currPage {
    color: #A13333;
    font-size: 50px;
    position: absolute;
    left: 40%;
}

.pagination-buttons {
    position: absolute;
    /*background-color: #A13333;*/
    left: 45%;

}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #A13333;
    border-radius: 50%;
    display: inline-block;
}

.user-details {
    color: #A13333;
    font-size:20px;
}

.user-details-header {
    color: #A13333;
}

.search-input{
    position: absolute;
    left: 50%;
}

.searching-input{
    position: relative;
    left: 2%;
    size:20px;
    width:100000px;
}
.search-header {
    color: #A13333;

}
.back-to-table-button {
    color: #A13333
}